body{
	width:100%;
}


.dib{ display: inline-block; vertical-align: middle;}
.hide,.shide{ display:none;}

.main-wrap{
	background: #f0f0f0;
	overflow: hidden;
}

.top-banner{
	position: relative;
	height: 4.933333rem;
	overflow: hidden;
}

.top-banner .swiper-pagination{
	text-indent: 7.3rem;
}

.top-banner .swiper-slide img{
	width: 100%;
	height: 4.933333rem;
}

.top-menu{
	overflow: hidden;
	background: #FFF;
	height: 2.986667rem;
}

.top-menu .top-menu-main{
	
}

.top-menu .top-menu-main li{
	width: 25%;
	text-align: center;
	float: left;
}

.top-menu .top-menu-main .menu-link{
	display: block;
	text-align: center;
	height: 1.933333rem;
	line-height: 1.933333rem;
}

.top-menu .top-menu-main .menu-link span{
	font-size: 0.373333rem;
	color: #5b5b5b;
}

.top-menu .top-menu-main .menu-link:after{
	content: '';
	display: inline-block;
	background: url('../img/top_menu_sprite.png') no-repeat;
	background-size: 10.0rem 1.173333rem;
	vertical-align: middle;
}

.top-menu .top-menu-main .menu-link.ml1:after{
	background-position: -0.933333rem -0.213333rem;
	width: 0.733333rem;
	height: 0.76rem;
}
.top-menu .top-menu-main .menu-link.ml2:after{
	background-position: -3.44rem -0.173333rem;
	width: 0.613333rem;
	height: 0.746667rem;
}
.top-menu .top-menu-main .menu-link.ml3:after{
	background-position: -5.746667rem -0.2rem;
	width: 0.986667rem;
	height: 0.733333rem;
}
.top-menu .top-menu-main .menu-link.ml4:after{
	background-position: -8.373333rem -0.12rem;
	width: 0.84rem;
	height: 0.826667rem;
}

.live-wrap{
	width: 100%;
	height: 4.933333rem;
	background: #FFF;
	margin-top: 28px;
}

.live-wrap .lw-title{
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.live-wrap .lw-title .font{
	font-size: 0.453333rem;
	color: #333;
	vertical-align: middle;
	margin-left: 0.106667rem; 
}

.live-wrap .lw-title .mark{
	width: 0.493333rem;
	height: 0.493333rem;
	background: url('../img/icons/is_1.png') no-repeat center center;
	background-size: 100% 100%;
	vertical-align: middle;
}

.live-wrap .swiper-slide{
	position: relative;
	height: 3.466667rem;
	width: 6.133333rem;
}

.live-wrap .swiper-slide .live-cover{
	position: absolute;
	left: 0.333333rem;
	top: 0px;
	width: 5.76rem;
	height: 3.44rem;
	border-radius: 0.106667rem;
}

.live-wrap .swiper-slide .play-mask{
	position: absolute;
	left: 0.333333rem;
	top: 0px;
	width: 5.76rem;
	height: 3.44rem;
	background: url('../img/video-play-bt.png') no-repeat center center;
	background-size: 1.013333rem 1.013333rem; 
}

.live-wrap .swiper-slide.onplay:after{
	position: absolute;
	content: '';
	background: url('../img/onplay.png') no-repeat;
	background-size: cover; 
	width: 2.306667rem;
	height: 0.853333rem;
	left: 0.213333rem;
	top: 0.2rem;
}

.live-wrap .swiper-slide .timeout-block{
	position: absolute;
	width: 4.28rem;
	height: 0.826667rem;
	line-height: 0.96rem;
	top: 0.213333rem;
	left: 0.2rem;
	font-size: 0.4rem;
	color: #FFF;
	background: url('../img/ontimeout.png') no-repeat;
	background-size: cover; 
	text-indent: 0.666667rem;
	white-space: nowrap;
	overflow: hidden;
}

.goods-wrap{
	position: relative;
}

.goods-wrap .gw-top{
	position: relative;
	margin-top: 0.346667rem; 
	width: 100%;
	height: 1.733333rem;
	border-top: 0.026667rem solid #e2b24d;
	background: #FFF;
}

.gwt-title{
	position: absolute;
	font-size: 0.453333rem;
	color: #000;
	left: 0.386667rem;
	top: 0.386667rem;
}

.gwt-local{
	position: absolute;
	background: url('../img/icons/is_local.png') no-repeat 0.0rem center;
	background-size: 0.253333rem 0.32rem;
	font-size: 0.32rem;
	color: #868686;
	left: 0.386667rem;
	text-indent: 0.426667rem;
	top: 1.146667rem;
}

.gwt-share-bt{
	position: absolute;
	display: block;
	width: 0.546667rem;
	height: 0.52rem;
	background: url('../img/icons/is_share.png') no-repeat;
	background-size: cover;
	right: 1.733333rem;
	top: 0.64rem;
}

.gwt-comment-bt{
	position: absolute;
	display: block;
	width: 0.586667rem;
	height: 0.56rem;
	background: url('../img/icons/is_repeat.png') no-repeat;
	background-size: cover;
	right: 0.586667rem;
	top: 0.64rem;
}

.gwt-comment-num{
	position: absolute;
	padding-left: 0.133333rem;
	padding-right: 0.133333rem;
	height: 0.346667rem;
	line-height: 0.346667rem;
	text-align: center;
	font-size: 22px;
	color: #FFF;
	border-radius: 0.133333rem;
	right: 0.08rem;
	top: 0.253333rem;
	background: #e2b24d;
}

.gwt-mark{
	position: absolute;
	width: 1.04rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-indent: 0.133333rem;
	font-size: 0.293333rem;
	left: 0rem;
	top: -0.213333rem;
	background: #313131;
	color: #FFF;
	border-radius:0 0.133333rem 0.133333rem 0;
}

.gwt-mark:after{
	content: '';
	position: absolute;
	width: 0.093333rem;
	height: 0.093333rem;
	border-radius: 50%;
	right: 0.133333rem;
	top: 0.146667rem;
	background: #e2b24d;
}

.gw-radio{
	position: relative;
	width: 100%;
	height: 5.6rem;
}

.gw-radio .gwr-cover{
	width: 100%;
	height: 100%;
}

.gw-radio .gwr-mask{
	background: linear-gradient(0deg,rgba(0,0,0,.65),transparent);
    height: 1.066667rem;
    line-height: 1.066667rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.gw-radio .gwr-note{
	height: 1.066667rem;
    line-height: 1.066667rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	font-size: 0.4rem;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-indent: 1.2rem;
    background: url('../img/icons/note-mark.png') no-repeat 0.36rem center;
    background-size: 0.64rem 0.426667rem;
}

.gw-radio .play-mask{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('../img/video-play-bt.png') no-repeat center center;
	background-size: 1.933333rem 1.933333rem; 
}

.gw-radio .gwr-msg{
	position: absolute;
	right: 0.08rem;
	top: 0.333333rem;
	height: 0.64rem;
	line-height: 0.64rem;
	padding-left: 0.213333rem;
	padding-right: 0.213333rem;
	border-radius: 0.213333rem;
	font-size: 0.266667rem;
	color: #fff;
	background: rgba(0,0,0,0.5);
}

.gw-radio .gwr-msg .eye_mark{
	display: inline-block;
	width: 0.6rem;
	height: 0.28rem;
	vertical-align: middle;
	background: url('../img/icons/is_eyes.png') no-repeat 0.133333rem center;
	background-size: 0.493333rem 0.28rem;
	border-left: 1px solid #FFF;
}

.gw-list{
	position: relative;
	background-color: #FFF;
	padding-top: 0.373333rem;
	padding-bottom: 0.373333rem;
}

.gw-list .swiper-slide{
	width: 2.906667rem;
	height: 4.133333rem;
}

.gw-list .good-block{
	text-align: center;
	border-right: 1px solid #f0f0f0;
	overflow: hidden;
}

.gw-list .good-block .gwl-cover{
	display: inline-block;
	height: 2.4rem;
	margin-top: 0.133333rem;
}

.gw-list .good-block .gwl-title{
	font-size: 0.4rem;
	color: #0b0b0b;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.gw-list .good-block .gwl-price{
	font-size: 0.4rem;
	color: #d80e0e;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.gw-list .good-block .gwl-pre-show{
	position: absolute;
	width: 0.8rem;
	height: 0.786667rem;
	left: 0.066667rem;
	top: 0;
}

.gw-list .good-block .gwl-warn{
	position: absolute;
	width: 2.933333rem;
	height: 0.533333rem;
	line-height: 0.533333rem;
	text-align: center;
	font-size: 0.32rem;
	color: #FFF;
	background: #e2b24d;
	top: 1.8rem;
	left: 50%;
	margin-left: -1.466667rem;
}

.gw-list .good-block .gwl-disprice .yes{
	height: 0.4rem;
	padding-left: 0.13rem;
	padding-right: 0.13rem;
	border-radius: 0.13rem;
	color: #FFF;
	line-height: 0.4rem;
	text-align: center;
	background: #e2b24d;
	font-size: 0.266667rem;
}

.gw-list .good-block .gwl-disprice .not{
	font-size: 0.266667rem;
	color: #666;
	text-decoration: line-through;
}